/*
 * Title:   Sky-Blue skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin6-logo;
$skin-bg-color: $sky-blue-color;
$skin-active-color: $sky-blue-color;
$skin-select-color: $yellow-theme-color;
$skin-hover-color: #91c1ec;
$skin-mobile-menu-color: #529adb;
$skin-light-color: #91c1ec;
$skin-dark-color: #2a75ba;
@import 'main';