/*
 * Title:   Dark-Orange skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin7-logo;
$skin-bg-color: $dark-orange-color;
$skin-active-color: $dark-blue-color;
$skin-select-color: $dark-orange-color;
$skin-hover-color: #fd7979;
$skin-mobile-menu-color: #e83939;
$skin-light-color: #fd7979;
$skin-dark-color: #c91a1a;
@import 'main';