/*
 * Title:   Red skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin2-logo;
$skin-bg-color: $red-color;
$skin-active-color: $red-color;
$skin-select-color: #e6c687;
$skin-hover-color: #fc989e;
$skin-mobile-menu-color: $red-theme-color;
$skin-light-color: #fc989e;
$skin-dark-color: #a70b14;
@import 'main';