/*
 * Title:   Orange skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin3-logo;
$skin-bg-color: $orange-color;
$skin-active-color: #12a0c3;
$skin-select-color: $orange-color;
$skin-hover-color: #fb9e66;
$skin-mobile-menu-color: #fe6f19;
$skin-light-color: #fb9e66;
$skin-dark-color: #db5200;
@import 'main';