/*
 * Title:   Light Orange skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin4-logo;
$skin-bg-color: $light-orange-color;
$skin-active-color: #db8df6;
$skin-select-color: $light-orange-color;
$skin-hover-color: #f9bd9d;
$skin-mobile-menu-color: #edb496;
$skin-light-color: #f9bd9d;
$skin-dark-color: #d36a31;
@import 'main';