/*
 * Title:   Sea-Blue skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin5-logo;
$skin-bg-color: $sea-blue-color;
$skin-active-color: $sea-blue-color;
$skin-select-color: $yellow-theme-color;
$skin-hover-color: #5cd9c2;
$skin-mobile-menu-color: #2fcaae;
$skin-light-color: #5cd9c2;
$skin-dark-color: #0f957d;
@import 'main';