/*
 * Title:   Light-Yellow skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin9-logo;
$skin-bg-color: #ff6c00;
$skin-active-color: #ff6c00;
$skin-select-color: $light-yellow-color;
$skin-hover-color: #f87f26;
$skin-mobile-menu-color: #ee6907;
$skin-light-color: #f87f26;
$skin-dark-color: #d95e04;
@import 'main';