/*
 * Title:   Dark-Blue skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin8-logo;
$skin-bg-color: $blue-theme-color;
$skin-active-color: $dark-blue-color;
$skin-select-color: $blue-theme-color;
$skin-hover-color: #40cbf8;
$skin-mobile-menu-color: #04afe7;
$skin-light-color: $light-blue-theme-color;
$skin-dark-color: $dark-blue-theme-color;
@import 'main';