/*
 * Title:   Purple skin File
 * Author:  http://themeforest.net/user/soaptheme 
 */
@import 'variables';
$skin-logo: $skin10-logo;
$skin-bg-color: $purple-color;
$skin-active-color: $purple-color;
$skin-select-color: $dark-orange-color;
$skin-hover-color: #bc6cd8;
$skin-mobile-menu-color: #a749c8;
$skin-light-color: #bc6cd8;
$skin-dark-color: #873ba2;
@import 'main';